<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Program.kg - Интернет магазин</title>
    @await Html.PartialAsync("HeadPartial")
</head>

<body>
    @await Component.InvokeAsync("HeaderControl")
  <!-- limitter -->
  <section class="limitter">
        @await Component.InvokeAsync("CategoryList")


    <!-- Right block -->
    <div class="rightColumn">


            @RenderBody()

    </div>
  </section>



  <!-- modal for auth -->
  <div class="modalAuth">
    <div class="registration">

      <form class="formControl">
        <div>
          <p>E-mail *</p>
          <input type="email">
        </div>
        <div>
          <p>Пароль *</p>
          <input type="password">
        </div>
        <div class="checkBlock">
          <input type="checkbox" class="check">
          <span> Запомнить меня на этом компьютере</span>
        </div>
        <a class="btnFormCancel">Отмена</a>
        <button class="btnFormSubmit">Войти</button>
      </form>

    </div>
  </div>


    @await Html.PartialAsync("Footer")

    @if (IsSectionDefined("script"))
    {

        @await RenderSectionAsync("script")

    }

</body>

</html>