  <!-- Modal for FastView -->
  <div class="modalForProdcut">
    <div class="modalFastView">
      <div class="fastViewHeader">Быстрый просмотр <span>&times;</span></div>
      <div class="contentFastView">
        <!-- slideer product for fastview -->
        <div class="slideProduct">
          <span class="newProductMaker">Новинки</span>
          <div class="fotorama" data-nav="thumbs" data-click="false" data-swipe="false" data-width="300"
            data-thumbwidth="50px" data-thumbheight="50px" name="navdir" data-allowfullscreen="native">
            <img src="~/web/img/products/aff956c73141b24223aa3768f6b2eac1.jpg">
            <img src="~/web/img/products/5dd64188c6f97cb78cf1cc6608527b3e.jpg">
            <img src="~/web/img/products/162149794063235_full.png" alt="">
            <img src="~/web/img/products/162149794069394_full.png" alt="">
          </div>
        </div>
        <!-- description product -->
        <div class="descFastView">
          <div class="descFastViewHeading">
            <a href="#">
              <span class="titleProduct">Ноутбук Notebook Foxcon Silver Intel Quad Core N3450 (up to
                2.20Ghz), 8GB, 500GB, Intel HD Graphics, 14" IPS FULL HD (1920x1080), WiFi, BT, HD WebCam,
                UltraSlim, Eng-Rus (ьитые пиксели)</span>
            </a>
          </div>
          <div class="changeProperties">
            <div class="propertiesFastViewProduct">
              <div class="propertiesFastViewProductHeading">Характеристики</div>
              <div class="propertyList">
                <div class="propertyTable">
                  <div class="propertyName">Наши предложение</div>
                  <div class="propertyValue">Новинки</div>
                </div>
                <div class="propertyTable">
                  <div class="propertyName">Bluetooth</div>
                  <div class="propertyValue">Да</div>
                </div>
                <div class="propertyTable">
                  <div class="propertyName">Web-камера </div>
                  <div class="propertyValue">Да</div>
                </div>
                <div class="propertyTable">
                  <div class="propertyName">WIFI</div>
                  <div class="propertyValue">Да</div>
                </div>
                <div class="propertyTable">
                  <div class="propertyName">Бренд</div>
                  <div class="propertyValue">Foxcon</div>
                </div>
                <div class="propertyTable">
                  <div class="propertyName">Диагональ</div>
                  <div class="propertyValue">14</div>
                </div>
                <div class="propertyTable">
                  <div class="propertyName">Объём накопителя ГБ</div>
                  <div class="propertyValue">500</div>
                </div>
                <div class="propertyTable">
                  <div class="propertyName">Оперативной памяти, ГБ </div>
                  <div class="propertyValue">8</div>
                </div>
                <div class="propertyTable">
                  <div class="propertyName">Процессор</div>
                  <div class="propertyValue">Intel Quad Core N3450</div>
                </div>
                <div class="propertyTable">
                  <div class="propertyName">Разрешение экрана </div>
                  <div class="propertyValue">1920 x 1080</div>
                </div>
                <div class="propertyTable">
                  <div class="propertyName">Цвет </div>
                  <div class="propertyValue">Серебристый</div>
                </div>
                <div class="propertyTable">
                  <div class="propertyName">Чипсет видеоадаптера</div>
                  <div class="propertyValue">Intel HD Graphics</div>
                </div>
              </div>
              <a href="#" class="link_footer">Больше информации о товаре</a>
            </div>
          </div>
        </div>
        <!-- right -->
        <div class="infoFastView">
          <span class="price measure">30 7190 сом / шт</span>
          <div class="addCartContainer">
            <div class="btnAddCart"><img src="~/web/img/icons/addCart.svg"> В корзину</div>
            <div class="cartCounter">
              <input type="number" value="1" maxlength="9999">
              <span class="catalogMinus">-</span>
              <span class="catalogPlus">+</span>
            </div>
          </div>
          <div class="secondTool">
            <a href="#"><img src="~/web/img/icons/fastBack.png"> Купить 1 клик</a>
            <a><img src="~/web/img/icons/wishlist.png"> В избранное</a>
            <a><img src="~/web/img/icons/inStock.png">В наличие</a>
          </div>
        </div>
      </div>
    </div>
  </div>
 <!-- footer -->
  <div class="footer">
    <div class="footer_left">
      <div>
        <span class="heading">Наши предложение</span>
        <ul class="footer_menu">
          <li><span class="middle">Новинка</span></li>
          <li><span class="middle">Хит продаж</span></li>
          <li><span class="middle">Распродажа</span></li>
          <li><span class="middle">Рекомендуем</span></li>
        </ul>
      </div>
      <div>
        <span class="heading">Помощь и сервисы</span>
        <ul class="footer_menu">
          <li><span class="middle">Главная</span></li>
          <li><span class="middle">Контакты</span></li>
          <li><span class="middle">Оплата</span></li>
          <li><span class="middle">Доставка</span></li>
          <li><span class="middle">Гарантия</span></li>
        </ul>
      </div>
    </div>
    <div class="footer_right">
      <div>
        <div class="footerLog">
          <img src="~/web/img/logo.png" width="150">
          <p>2021 Program</p>
        </div>
        <div>
          <p>г.Ош улица Навои 21</p>
          <a href="#" class="link_footer">Посмотреть на карте</a>
        </div>
      </div>
      <div>
        <div>
          <p class="boldNum">0775 775 885</p>
          <p class="boldNum">0755 775 885</p>
        </div>
        <p>Email: support@program.kg</p>
        <p>График работы Пн-Пт: с 9:00 до 18:00 Сб: с 9:00 до 15:00 Вс: Выходной</p>
      </div>
    </div>
  </div>

  <script src="~/web/js/jquery-2.1.3.min.js"></script>
  <script src="~/web/js/jquery-ui.js"></script>
  <script src="~/web/js/slick/slick.min.js"></script>
  <script src="~/web/js/fotorama/fotorama.js"></script>
  <script src="~/web/fonts/FontAwesome/js/all.min.js"></script>
  <script src="~/web/js/index.js"></script>