@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('Open-Sans-Regular'),
        url('OpenSans-Regular.woff2') format('woff2'),
        url('OpenSans-Regular.woff') format('woff'),
        url('OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }